<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Artist Search</title>
</head>

<style>
    .container {
      height: 250px;
      position: relative;
      border: 3px solid green;
    }
    
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
</style>

<div class = "container">
    <div class = 'center'>
        <h1>
            Damn Good Tracks - powered by <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_Green.png" width="100px">
        </h1>
        <form action="" method="post">
            <p>Oops, did you mean {{ correct_name }}? Please try again: <input type="text" name="input"></p>
            <input type = "submit" name="songs" value="Search"> See similar tracks</input>
            <br>
            <br>
            <input type = "submit" name="albums" value="Search"> See similar albums</input>
        </form>
    </div>
</div>

</html>