<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Artist Search</title>
</head>

<style>
    .container {
      height: 200px;
      position: relative;
      border: 3px solid green;
    }
    
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
</style>

<div class = "container">
    <div class = 'center'>
        <form action="" method="post">
            <p>Oops, did you mean {{ correct_name }}? Please try again.<input type="text" name="input"></p>
            <input type = "submit" name="songs">Check related tracks</input>
            <input type = "submit" name="albums">Check related albums</input>
        </form>
    </div>
</div>

</html>